html, body {
  height: 100%;
}

/* options for displaying background */
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

/* Make links white so that they are easier to read over a blue background */
a, a:visited {
  color: white;
}
